  <mat-sidenav-container>

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" class="mat-sidenav" [opened]="!mobileQuery.matches">    
      <img src="assets/images/CEPAlogo2-removebg-preview.png" class="logo" alt="CEPAnav">
        <mat-list class="side-nav-contet nav-list">
          <mat-list-item class="nav-list-item" (click)="navigateToHome()">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          </mat-list-item>
          <mat-list-item class="nav-list-item" (click)="navigateToSearchParticipant()">
            <i class="fa-regular fa-calendar-days"></i>
            <span>Search Participant</span>
          </mat-list-item>
          <mat-list-item class="nav-list-item" (click)="navigateToFeedback()">
            <i class="fa-solid fa-users"></i>
            <span>Feedback</span>
          </mat-list-item>
          <mat-list-item class="nav-list-item" (click)="navigateToAboutUs()">
            <i class="fa-solid fa-circle-info"></i>
            <span>About Us</span>
          </mat-list-item>
        </mat-list>
  
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-button (click)="snav.toggle()" class="side-nav-tbutton" style="border: none; background-color: whitesmoke;">
          <i class="fa-solid fa-bars-staggered side-toggle"></i>
        </button>  
        <div class="datetime-container">
          <i class="fa-regular fa-calendar"></i>
          <span>{{ currentDateTime | date: 'EEEE, MMM d, y, h:mm a' }}</span>
      </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  