button{
    box-shadow: 5px 6px 7px 1px #afadad;
    color: white;
    background-color:#4070f4;
    border-radius: 7px;
    width:140px;
    height: 30px;
    size: 20px;
    right: 33px;
    border: none;
    text-align:center;
    position: fixed;
    margin-top: 45vh;
    margin-right: 10px;
}
.aboutus{
    padding: 45px;
    padding-top: 30px;
    position: relative;
    max-width: fit-content;
    
}


h1{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 30px;
}
p{
    margin-left: 10px;
    max-width: fit-content;
    display:flex;
}
#header{
    margin-bottom: 2%;
}
hr{
    align-items: center;
     margin-left: 40px;
     margin-right: 40px;
     display: flex;
}