<body>
    <h1>About Us <i class="fa-solid fa-circle-info"></i></h1>
    <hr>
        <div class="aboutus">
            <p id="header"><b>Welcome to the Community Extension Participation Attendance platform!</b></p>
            <p>We're here to help you connect, collaborate, and make a difference in your community. Whether your're planning events or looking to gt involved, our online platform is designed to foster community, engagement and participation in extension activities. Join us and be part of something meaningful!</p>
            <button type="button">Send Feedback</button>
        </div>
    </body>