<body>
<h1 class="heading">Event Management <i class="fa-solid fa-calendar-days"></i></h1>
<hr style="align-items: center; margin-left: 40px; margin-right: 40px; display: flex;">
<button class="addevent">Add Event</button>
<div class="container">
    <div class="box">
        <h1>Event Title</h1>
        <hr>
       <h1>Event Details.</h1>
       <button class="button">Enter</button>
    </div>
    <div class="box1">
        <h1>Event Title</h1>
        <hr>
       <h1>Event Details.</h1>
       <button class="button">Enter</button>
    </div>
    <div class="box2">
        <h1>Event Title</h1>
        <hr>
       <h1>Event Details.</h1>
       <button class="button">Enter</button>
    </div>
    <div class="box3">
        <h1>Event Title</h1>
        <hr>
       <h1>Event Details.</h1>
       <button class="button">Enter</button>
    </div>
    <div class="box4">
        <h1>Event Title</h1>
        <hr>
       <h1>Event Details.</h1>
       <button class="button">Enter</button>
    </div>
    <div class="box5">
        <h1>Event Title</h1>
        <hr>
       <h1>Event Details.</h1>
       <button class="button">Enter</button>
    </div>
</div>
</body>