<!DOCTYPE html>
<h1 class="heading">Search Participant</h1>
<hr style="margin-left:25px;">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <input type="text" id="participant-search" class="search-bar" placeholder="Name">
</head>
<body>
    
    <div class = "hehe">
        <input type="text" id="participant-search" class="search-bar1" placeholder="Search Participants here">
        <div>
    <div class = "participantname"></div>
    <h1>Participant Name:</h1>
        <input type="text" id="participant-search" class="search-bar2" placeholder="Name">
        </div>
    <div class = "event">
        <h1>Event's Joined:</h1>
        <input type="text" id="event-search" class="search-bar3" placeholder="Events Name">
    </div>
    
    </div>
</body>
</html>
