<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Participant</title>
</head>
<body>
    <h1 class="heading">Search Participant <i class="fas fa-search"></i></h1>
    <hr style="margin-left:25px;">
    <div class="search-bar">
        <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" />
        <button (click)="searchParticipant()">Search</button>
    </div>
    <div class="container" *ngIf="participant">
        <div class="mat-card">
            <div class="mat-card-header">
                <div class="mat-card-title participant-name">{{ participant.first_name }} {{ participant.last_name }}</div>
            </div>
            <hr>
            <div class="mat-card-content">
                <p><strong>Events Joined:</strong></p>
                <br>
                <div class="events-list">
                    <div class="event-item" *ngFor="let event of participant.events">
                        <div class="event-details">
                            <div class="event-column">
                                <div class="event-name">{{ event.event_name }}</div>
                            </div>
                            <div class="event-column">
                                <div class="event-date"><span class="bold-text">Date: </span>{{ event.event_date | date }}</div>
                            </div>
                            <div class="event-column">
                                <div class="event-location"><span class="bold-text">Location: </span>{{ event.event_location }}</div>
                            </div>
                            <div class="event-column">
                                <div class="event-organizer"><span class="bold-text">Organizer: </span>{{ event.organizer }}</div>
                            </div>
                        </div>
                    </div>
                </div>                                
            </div>
        </div>
    </div>
</body>
</html>
