.container {
    width: 70%;
    max-width: 800px;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 6px 7px 1px #afadad;
    opacity: 0.9;
}

.heading {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.body-content {
    margin-left: 10px;
    margin-right: 10px;
}

.question {
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option {
    width: calc(50% - 5px);
    margin-bottom: 10px;
}

.option label {
    display: block;
}

.circle-label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto;
    cursor: pointer;
    border: 1px black solid;
}

.option input[type="radio"] {
    display: none;
}

.option input[type="radio"]:checked + .circle-label {
    background-color: #007bff;
}

textarea {
    width: calc(100% - 10px);
    height: 53px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.feedback-container {
    margin-top: 5px;
}

.send-feedback-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;

}
/* For screens up to 320px width (iPhone SE) */
@media screen and (max-width: 320px) {
    mat-card {
        margin: 10px;

    }
    .container {
        width: 80%; /* Adjust width to fit the screen */
        max-width: none; /* Remove max-width restriction */
        margin: 0; /* Reset margin */
        padding: 2px; /* Adjust padding for better fit */
    }
    .heading {
        font-size: 30px; /* Decrease font size for smaller screens */
        margin-left: 10px; /* Adjust margin for smaller screens */
    }
    .option {
        width: calc(50% - 10px); /* Adjust width for responsiveness */
    }
}

/* For screens larger than 320px */
@media screen and (min-width: 321px) {
    .container {
        width: 85%; /* Reset width */
        max-width: 1100px; /* Reset max-width */
        margin: 15px auto; /* Reset margin */
        padding: 2px; /* Reset padding */
    }
    .heading {
        font-size: 40px; /* Reset font size */
        margin-left: 20px; /* Reset margin */
    }
    .option {
        width: calc(33.33% - 20px); /* Reset width */
    }
}