header {
    width: auto;
    padding: 1.5em;
    position: relative;
    overflow: hidden;
    color: black;
    background-color: #e4e9f7;
    box-shadow: 8px 5px 15px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border-radius: 10px;
    background-image: url('/assets/images/CEPAlogo2-removebg-preview.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) calc(50% - 13px); 
    border: solid 1px #00000088;
    margin-bottom: 20px;
}

body {
    height: 80vh; 
    padding: 12px 14px 0 12px;
    border-radius: 20px;
    
}
.event-name {
    font-size: 24px; 
    margin-bottom: 20px;
}

.Register {
    height: 50px;
    width: 150px;
    background-color: #007bff;
    box-shadow: 5px 6px 7px 1px #afadad;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin: 10px;
    float: right; /* Adjusted margin-left to float */
    margin-top: 10px; /* Changed margin-top value */
}

.Register:hover {
    background-color: #0056b3;
}
.description{
    margin: 20px;
}

.qrcode {
    margin: auto; /* Center the QR code horizontally */
    width: fit-content; /* Set the width to fit the content */
    height: fit-content; /* Set the height to fit the content */
}

@media only screen and (max-width: 690px) {
    header {
        width: auto; /* Adjust width to fill the screen */
        padding: 1em; /* Reduce padding for smaller screens */
        background-size: 250px; /* Adjust background size */
        background-position: calc(100% - 11px) calc(50% - 6px); 
        background-size: 100px;
        margin-bottom: 10px; /* Reduce margin bottom */
    }

    body {
        padding: 10px; /* Increase padding for smaller screens */
    }

    .event-name {
        font-size: 20px; /* Reduce font size for smaller screens */
        margin-bottom: 10px; /* Reduce margin bottom */
    }

    .Register {
        width: 120px; /* Reduce button width */
        margin: 5px; /* Reduce button margin */
    }

    .description {
        margin: 10px; /* Reduce margin for description */
    }

    .qrcode {
        margin: auto; /* Center the QR code horizontally */
        width: 80%; /* Reduce QR code width */
    }
}
