<html>
<body>
  <h1>Participant Management <i class="fa fa-users" aria-hidden="true"></i></h1>
    <hr>
  <button class="send-invitation-button" style="box-shadow: 5px 6px 7px 1px #afadad;">Send Invitation</button>
  <table>
    <thead>
      <tr>
        <th>Participant ID</th>
        <th>Participant Name</th>
        <th>Event Joined</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12345</td>
        <td>John Doe</td>
        <td>February 19, 2024, 12:00 PM</td>
        <td>Registered</td>
        <td>hehe</td>
      </tr>
    </tbody>
  </table>

</body>
</html>