<body>
    <div>
        <div class="pie">
            <h1 class="heading">Overview <i class="fa-solid fa-chart-pie"></i></h1>
        </div>
        <hr>
        </div>
        <div class="container">
            <div class="box">
                <h1 class="box-title">Total Events</h1>
                <br>
               <h1 class="number">0</h1>
            </div>
            <div class="box1">
                <h1 class="box-title">Total Participants</h1>
                <br>
               <h1 class="number1">0</h1>
            </div>
        </div>
</body>